<nav class="navbar navbar-light bg-light justify-content-between">
    <button type="button" class="btn btn-warning m-2" routerLink="../../dashboard">Dashboard</button>
    <form class="form-inline">
        <button type="button" class="btn btn-secondary m-2" routerLink="../../profile">Profile</button>
        <button type="button" class="btn btn-danger m-2" (click)="_auth.userLogout()">Logout</button>
    </form>
</nav>


<div class="container m-5 shadow-lg p-5">
    <h1>Baskets</h1>
    <div class="container m-3 shadow-lg p-5">
    <h2>IT</h2>
    <div style="text-align: center;" id="it">
        <input class="m-2" type="text" #it_id placeholder="Basket Id">
        <input class="m-2" type="text" #it_name placeholder="Basket Name">
        <mat-form-field appearance="outline">
          <mat-label>Choose Course Coordinator</mat-label>
          <mat-select #it_faculty>
            <mat-option *ngFor="let faculty of it_faculties" [value]="faculty.id">
              {{faculty.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button class="m-2" type="button" (click)="addBasket('IT',it_id.value,it_name.value,it_faculty.value)" class="btn btn-warning">Create Basket</button>
    </div>

    <div class="container shadow p-5 m-5" *ngFor="let basket of _util.it_baskets">
        <h3>{{basket.id}}    {{basket.name}}</h3>
        <div class="row" *ngFor="let course of basket.courses">
            <div class="col m-2"><p>{{course.id}}    {{course.name}}</p> </div>
            <div class="col m-2"><button type="button" (click)="removeCourse(basket.id,course.id)" class="btn btn-danger">Delete</button></div>
        </div>
        <div class="row">
            <div class="col-3"><input type="text" #id placeholder="Course Id"></div>
            <div class="col-3"><input type="text" #name placeholder="Course Name"></div>
            <div class="col-3"><button type="button" class="btn btn-success" (click)="addCourse(basket.id, id.value, name.value)">Add Course</button></div>
        </div>
        <div class="mt-2">
            <button type="button" class="btn btn-danger" (click)="deleteBasket(basket.id)">Delete Basket</button>
        </div>
    </div>
</div>

<div class="container m-3 shadow-lg p-5">
    <h2>ECE</h2>
    <div style="text-align: center;" id="ece">
      <input class="m-2" type="text" #ece_id placeholder="Basket Id">
      <input class="m-2" type="text" #ece_name placeholder="Basket Name">
        <mat-form-field appearance="outline">
          <mat-label>Choose Course Coordinator</mat-label>
          <mat-select #ece_faculty>
            <mat-option *ngFor="let faculty of ece_faculties" [value]="faculty.id">
              {{faculty.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button class="m-2" type="button" (click)="addBasket('ECE',ece_id.value,ece_name.value,ece_faculty.value)" class="btn btn-warning">Create Basket</button>
    </div>

    <div class="container shadow p-5 m-5" *ngFor="let basket of _util.ece_baskets">
        <h3>{{basket.name}}</h3>
        <div class="row" *ngFor="let course of basket.courses">
            <div class="col m-2"><p>{{course.name}}</p> </div>
            <div class="col m-2"><button type="button" (click)="removeCourse(basket.id,course.id)" class="btn btn-danger">Delete</button></div>
        </div>
        <div class="row">
            <div class="col-3"><input type="text" #id placeholder="Course Id"></div>
            <div class="col-3"><input type="text" #name placeholder="Course Name"></div>
            <div class="col-3"><button type="button" class="btn btn-success" (click)="addCourse(basket.id, id.value, name.value)">Add Course</button></div>
        </div>
        <div class="mt-2">
            <button type="button" class="btn btn-danger" (click)="deleteBasket(basket.id)">Delete Basket</button>
        </div>
    </div>
    </div>
</div>

