<nav class="navbar navbar-light bg-light justify-content-between">
    <button type="button" class="btn btn-warning m-2" routerLink="../dashboard">Dashboard</button>
    <form class="form-inline">
        <button type="button" class="btn btn-secondary m-2" routerLink="../profile">Profile</button>
        <button type="button" class="btn btn-danger m-2" (click)="_auth.userLogout()">Logout</button>
    </form>
</nav>


<div class="container m-5 p-5 shadow" *ngFor="let basket of _util.basket_preferences">
  <h1>{{basket.name}}</h1>
  <div class="container shadow m-2 p-2" *ngFor="let course of basket.courses">
    <h2>{{course.name}}</h2>
    <a *ngIf="_util.counselling_status === 'submitted'" href="javascript:void(0)" (click)="downloadCSV(course.students, course.name)">Download Students</a>
    <h3 *ngIf="_util.counselling_status === 'unsubmitted'">Students who had choosen this course:</h3>
    <h3 *ngIf="_util.counselling_status === 'submitted'">Students to whom course is alloted:</h3>
    <ul>
      <li *ngFor="let student of course.students">
        <p>{{student.id}} - {{student.name}}</p>
      </li>
    </ul>

    <div *ngIf="!isEmpty(_util.course_students)">
      <h3>Students elligible for course:</h3>
      <ul>
        <li *ngFor="let student of _util.course_students[course.id]">
          {{student}}
        </li>
      </ul>
    </div>

  </div>
</div>
<button *ngIf="_util.counselling_status === 'submitted'" class="btn btn-danger" (click)="onReset()">Reset</button>



<button [hidden]="_util.counselling_status==='submitted'" type="button" class="btn btn-primary" (click)="startCounselling()">Preview counselling</button>
<button [hidden]="_util.counselling_status==='submitted'" type="button" class="btn btn-primary" (click)="onSubmit()">Submit counselling</button>
