<div class="" style="width: 100%;
height: 100%; background-image: url( 'assets/images/login.jpg'); background-size: cover;  background-repeat: no-repeat; ">
    <div style=" width: 100%;
    height: 100%; background-color: rgba(0, 0, 0, 0.5);">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-4 " style="margin-top: 10%; color: beige;">
                    <div class="border border-light  mt-5 my_form ">
                        <h1>Admin Login</h1>
                        <p *ngIf="loginErr " class="text-danger ">Wrong credential: please enter valid credential</p>
                        <form>
                            <div class="row m-3 ">
                                <div class="col-12 ">
                                    <input type="email" class="form-control " #email placeholder="Email ">
                                </div>
                            </div>
                            <div class="row m-3">
                                <div class="col-12 ">
                                    <input type="password" class="form-control " #password placeholder="Password ">
                                </div>
                            </div>
                            <div class="row m-3 ">
                                <div class="col-12 ">
                                    <input type="button " (click)="onClick(email.value, password.value) " class="btn btn-outline-light btn-lg w-100 " value="Login ">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
