<nav class="navbar navbar-light bg-light justify-content-between">
    <button type="button" routerLink="admin" class="btn btn-primary m-2" style="visibility: hidden;">Admin Login</button>
    <form class="form-inline">
        <button type="button" class="btn btn-secondary m-2" routerLink="../profile">Profile</button>
        <button type="button" class="btn btn-danger m-2" (click)="_auth.userLogout()">Logout</button>
    </form>
</nav>

<div>
    <div class="container shadow m-5 p-5" *ngIf="this._util.status==='buffer'">
        <div class="row m-5 p-5 shadow">
        <h2>Pending:</h2>
        <div *ngFor="let course of this._util.buffer_courses">
            <div *ngIf="course.status==='pending'">
                <p>{{course.name}}
                    <button type="button" class="btn btn-success m-2" (click)="acceptCourse(course.id)">Accept</button>
                    <button type="button" class="btn btn-danger m-2" (click)="rejectCourse(course.id)">Reject</button>
                </p>
            </div>
        </div>
        </div>
        <div class="row m-5 p-5 shadow">
        <h3>Accepted:</h3>
        <div *ngFor="let course of this._util.buffer_courses">
            <div *ngIf="course.status==='selected'">
                <p>{{course.name}}
                    <button type="button" class="btn btn-warning" (click)="restoreCourse(course.id)">Restore</button>
                </p>
            </div>
        </div>
        </div>
        <div class="row m-5 p-5 shadow">
        <h3>Rejected</h3>
        <div *ngFor="let course of this._util.buffer_courses">
            <div *ngIf="course.status==='rejected'">
                <p>{{course.name}}
                    <button type="button" class="btn btn-warning" (click)="restoreCourse(course.id)">Restore</button>
                </p>
            </div>
        </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="submitCourses()">Submit</button>
    </div>
</div>

<div class="container shadow m-5 p-5" *ngIf="this._util.status==='running'">

    <h2>Running Courses</h2>
    <div class="p-5 shadow">
        <table class="table">
            <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of this._util.running_courses">
                    <td>{{course.id}}</td>
                    <td>{{course.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
