<!-- <nav class="navbar navbar-light bg-light justify-content-between">
    <button type="button" routerLink="admin" class="btn btn-primary m-2" style="visibility: hidden;">Admin Login</button>
    <form class="form-inline">
        <button type="button" class="btn btn-secondary m-2" routerLink="../profile">Profile</button>
        <button type="button" class="btn btn-danger m-2" (click)="_auth.userLogout()">Logout</button>
    </form>
</nav> -->


<nav class="navbar navbar-light sticky-top bg-light justify-content-between">
    <button type="button" class="btn btn-warning m-2" routerLink="../dashboard" style="visibility: hidden;">Dashboard</button>
    <form class="form-inline">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Profile</button>
        <!-- Modal -->
        <button type="button" class="btn btn-danger m-2" (click)="_auth.userLogout()">Logout</button>
    </form>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header text-center">
                <h5 class="modal-title" style=" margin-left: 100px; color: black; font-size: x-large;" id="exampleModalLabel">PROFILE INFORMATION</h5>
                <button type="button" class="" data-bs-dismiss="modal" aria-label="Close">
                <img src="assets/images/close.jpeg" style="width:15px; height:15;" aria-hidden="true">
              </button>
            </div>
            <h2 style="color: black;">Name: {{_auth.name}}</h2>
            <h2 style="color: black;">Email: {{_auth.email}}</h2>
            <h2 style="color: black;">Stream: {{_auth.stream}}</h2>
        </div>
    </div>
</div>


<div class=" row container shadow bg-dark  m-5 p-3" style="text-align: center; width: 100%;">
    <div class="col-4 ">
        <button type="button" class=" col-12 btn btn-outline-light" (click)="btnClicked('assign')">Faculty Assign</button>
    </div>
    <div class="col-4 ">
        <button type="button" class="col-12 btn btn-outline-light" (click)="btnClicked('counsel')">Counselling</button>
    </div>
    <div class="col-4 ">
        <button type="button" class="col-12 btn btn-outline-light" (click)="btnClicked('course')">Course Setting</button>
    </div>
</div>

<div class="bg-transparent" style="margin-right: 5%;" *ngIf="facultyassign">
    <div class=" bg-dark  m-5 p-3">
        <h2 style="font-size: xxx-large; color:whitesmoke  ">FACULTY ASSIGN</h2>

        <div class="container " *ngIf="_util.status === 'buffer'">

            <div class="container m-sm-2 shadow-lg p-3">
                <div class="card col-11 text-center">
                    <div class="card-header" style="background-color:black;">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <button class="nav-link active" name="assigned" (click)=" menuClicked($event) ">Assigned</button>
                            </li>
                            <li class="nav-item ">
                                <button class="nav-link " name="unassigned" (click)="menuClicked($event) ">Unassigned  </button>
                            </li>

                        </ul>
                    </div>
                    <div class="card-body " style="background-color:white; color: black; ">
                        <div *ngIf="assigned ">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12" *ngFor="let basket of _util.buffer_baskets">
                                        <div class=" shadow  p-4 m-4" style="background-image:url('assets/images/card.jpeg'); background-repeat: no-repeat;
                              background-size:cover;" *ngIf="basket.status === 'assigned'">

                                            <h2 style="font-style: italic; text-align: left; text-decoration: underline;">{{basket.name}}</h2>
                                            <div class="row">
                                                <div class="col-3">
                                                    <h2>Course ID</h2>
                                                </div>
                                                <div class="col-3">
                                                    <h2>Course Name</h2>
                                                </div>
                                                <div class="col-3">
                                                    <h2>Faculty</h2>
                                                </div>
                                                <div class="col-3">
                                                    <h2>Seat</h2>
                                                </div>
                                            </div>
                                            <div class="row col" *ngFor="let course of basket.courses">
                                                <div class="col-3">
                                                    <p>{{course.name}}</p>
                                                </div>
                                                <div class="col-3">
                                                    <p>{{course.name}}</p>
                                                </div>

                                                <div class="col-3">
                                                    <select #selectFaculty class="form-select form-select-sm" aria-label=".form-select-sm example" disabled>
                                              <option value="course.faculty.id" selected>{{course.faculty.name}}</option>
                                          </select>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" [value]="course.seats" class="form-control" placeholder="Seats" disabled>
                                                </div>
                                            </div>
                                            <button type="button" class="mt-4 btn btn-outline-danger " style="width: 30%;" (click)="onReset(basket.id)">Reset</button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <button type="button" class=" col-12 btn btn-dark" (click)="onSubmit()">Submit</button>
                        </div>
                        <div *ngIf="unassigned ">
                            <div class="row">
                                <div class="col-12" *ngFor="let basket of _util.buffer_baskets">

                                    <div class=" shadow  p-4 m-4" style="background-image:url('assets/images/card.jpeg'); background-repeat: no-repeat;
                          background-size:cover;" *ngIf="basket.status === 'un-assigned'">

                                        <div class="container">
                                            <h2 style="font-style: italic; text-align: left; text-decoration: underline;">{{basket.name}}</h2>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <h2>Course ID</h2>
                                                </div>
                                                <div class="col-lg-3">
                                                    <h2>Course Name</h2>
                                                </div>
                                                <div class="col-lg-3">
                                                    <h2>Faculty</h2>
                                                </div>
                                                <div class="col-lg-3">
                                                    <h2>Seat</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <form #selectFaculty="ngForm">
                                            <div *ngFor="let course of basket.courses">
                                                <div class="row m-1" [ngModelGroup]="course.id">
                                                    <div class="col-lg-3">
                                                        <p style="font-size:medium">{{course.id}}</p>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <p style="font-size:medium">{{course.name}}</p>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <select ngModel [name]="'faculty_id'" class="form-control form-select-sm" aria-label=".form-select-sm example">
                                                <option value="">Select Faculty</option>
                                                <option *ngFor="let faculty of getFaculties(course.id)" [ngValue]="faculty.id">
                                                    {{faculty.name}}
                                                </option>
                                              </select>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <input ngModel [name]="'seats'" type="number" [value]="60" class="form-control" placeholder="default: 60 " min="0" oninput="validity.valid || (value='')">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="row">
                                            <button style="margin-left: 80%" type="button" class=" col-2 mt-3 h-50  btn btn-success" (click)="onCreate(selectFaculty.value)">Move to Assign</button>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>

            </div>

        </div>

        <div *ngIf="_util.status === 'selected'">
            <h2 class="mt-5" style="font-weight:500; color: gray;">Assigned faculties details</h2>
            <h2>Download details <a href="javascript:void(0)" (click)="downloadCSV(_util.selected_baskets)"><i style="color: white;" class="fa fa-download"></i></a></h2>
            <div class="container">
                <div class="row">
                    <div class="col-11 shadow  p-4 m-5 mb-1 bg-light" style="color: black;" *ngFor="let basket of _util.selected_baskets">
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Course Id</th>
                                        <th>Course Name</th>
                                        <th>Faculty Name</th>
                                        <th>Course Seat</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let course of basket.courses">
                                        <td>{{course.id}}</td>
                                        <td>{{course.name}}</td>
                                        <td>{{course.faculty.name}}</td>
                                        <td>{{course.seats}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <button type="button" style="width: 30%;" class="mt-5 btn btn-outline-danger" (click)="onCourseFacultyReset()">Reset</button>
            </div>
        </div>
    </div>
</div>



<div class="bg-transparent" style="margin-right: 5%;" *ngIf="counselling">
    <div class=" bg-dark  m-5 p-3">
        <h1 style="font-size:xxx-large; color:whitesmoke  ">COUNSELLING</h1>

        <div style=" color:black; font-size: large; ">
            <div class="container">

                <div class=" col-12 text-center">
                    <div class="card-body ">

                        <div class="container" *ngIf="_util.basket_preferences?.length > 0">
                            <div class="row">
                                <div class="card shadow col-5 p-4 m-4" style="background-image:url('assets/images/card.jpeg'); background-repeat: no-repeat;
                                background-size:cover;" *ngFor="let basket of _util.basket_preferences">
                                    <h2>({{basket.id}}) {{basket.name}}</h2>
                                    <div style="font-size: medium;" *ngFor="let course of basket.courses">
                                        <div class="row">
                                        <div class="col">({{course.id}})</div>
                                        <div class="col">{{course.name}}</div> 
                                        <div class="col"><a *ngIf="_util.counselling_status === 'submitted'" href="javascript:void(0)" (click)="downloadStudentCSV(course.students, course.name)"><i class="fa fa-download"></i></a></div>
                                    </div>
                                        <!-- <h3 *ngIf="_util.counselling_status === 'unsubmitted'">Students who had choosen this course:</h3> -->
                                        <!-- <h3 *ngIf="_util.counselling_status === 'submitted'">Students to whom course is alloted:</h3> -->
                                        <!-- <ul>
                                            <li *ngFor="let student of course.students">
                                              <p>({{student.id}}) {{student.name}}</p>
                                            </li>
                                        </ul> -->

                                        
                                        <div class="rounded-3 text-white" *ngIf="!isEmpty(_util.course_students) && _util.counselling_status === 'unsubmitted' ">
                                            <p>
                                            <strong class="text-success">Students getting this course: <span class="badge badge-dark" style="color: black; background-color: white;">{{_util.course_students[course.id]?.length}}</span> </strong>
                                            <a data-bs-toggle="collapse" [href]="'#'+course.id" role="button" aria-expanded="false" [attr.aria-controls]="course.id">
                                                    <i class="fa fa-arrow-down fa-lg"></i>
                                            </a>
                                        </p>
                                            <div class="collapse" [id]="course.id">
                                                
                                            <div  class="card card-body bg-dark" style="background-color: black;">
                                                <ol>
                                                    <li *ngFor="let student of _util.course_students[course.id]">
                                                        {{student}}
                                                    </li>
                                                </ol>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button *ngIf="_util.counselling_status === 'submitted'" class="col-5 btn btn-outline-danger" (click)="onCounsellingReset()">Reset</button>

                            <button [hidden]="_util.counselling_status==='submitted'" type="button" class="col-6 btn btn-outline-light" (click)="startCounselling()">Preview counselling</button>
                            <button [hidden]="_util.counselling_status==='submitted'" type="button" class="col-6 btn btn-outline-light" (click)="onSubmitCounselling()">Submit counselling</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>



<div class="bg-transparent" style="margin-right: 5%;" *ngIf="coursesetting">
    <div class=" bg-dark  m-5 p-3">
        <h1 style="font-size:xxx-large; color:whitesmoke  ">COURSE SETTING</h1>
        <div style=" color:black; font-size: large; ">
            <div class="container">

                <div class=" col-12 text-center">
                    <div class="card-body ">

                        <div class="container">
                            <div class="row">
                                <div class="card shadow col-5 p-4 m-4" style="background-image:url('assets/images/card.jpeg'); background-repeat: no-repeat;
                              background-size:cover;" *ngFor="let basket of _util.baskets">
                                    <h1>({{basket.id}}) {{basket.name}}</h1>
                                    <div style="font-size: medium;" *ngFor="let course of basket.courses">
                                        <div class="row ">
                                            <div class="col-6">({{course.id}}) {{course.name}}</div>
                                            <!-- <label class="col-6 switch" style="margin-left:20%; margin-top: 8px">
                                              <input #run type="checkbox"  >
                                              <span class="slider round" ></span>
                                            </label> -->
                                            <div class="col-6">
                                                <div class=""><button [hidden]="course.seats <= 0" type="button" class="m-1 btn btn-sm  btn-danger" (click)="dontRunCourse(basket.id,course.id)"> <i class="fa fa-stop"></i></button></div>
                                                <div class=""><button [hidden]="course.seats > 0" type="button" class="m-1 btn btn-sm  btn-success" (click)="runCourse(basket.id,course.id)">
                                                  <i class="fa fa-play-circle"></i> </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>






    </div>
</div>