<button type="button" class="btn btn-primary" routerLink="../profile">Profile</button>
<button type="button" class="btn btn-primary" (click)="_auth.userLogout()">Logout</button>

<div class="container shadow m-5 p-5" style="text-align: center; width: fit-content;">
    <div class="row m-5">
        <button type="button" class="btn btn-primary" routerLink="../faculty_assign">Faculty Assign</button>
    </div>
    <div class="row m-5">
        <button type="button" class="btn btn-primary" routerLink="../counselling">Counselling</button>
    </div>
    <div class="row m-5">
      <button type="button" class="btn btn-primary" routerLink="../course_setting">Course Setting</button>
  </div>
</div>
