<div class="myDiv">
    <div class=" hi" style="position: relative; padding-top : 350px; padding-left: 70px;">
        <button type="button" routerLink="admin" class="btn btn-outline-dark btn-lg m-2">Admin Login</button>
        <form class="form-inline">
            <button type="button" routerLink="elective" class="btn btn-outline-dark  btn-lg m-2">Elective</button>
            <button type="button" routerLink="project" class="btn btn-outline-danger btn-lg m-2">Project</button>
            <button type="button" routerLink="core" class="btn btn-outline-dark btn-lg m-2">Core</button>
        </form>
    </div>

</div>
