<div class="myDiv">
<nav class="navbar navbar-light bg-light justify-content-between">
    <button type="button" routerLink="admin" class="btn btn-primary m-2">Admin Login</button>
    <form class="form-inline">
        <button type="button" routerLink="elective" class="btn btn-primary m-2">Elective</button>
        <button type="button" routerLink="project" class="btn btn-primary m-2">Project</button>
        <button type="button" routerLink="core" class="btn btn-primary m-2">Core</button>
    </form>
</nav>

</div>
