<div class="myDiv">
    <div class="hi" style="position: relative; padding-top : 350px; padding-left: 70px;">
        <div class="row">
            <div class="col"></div>
            <div class="col shadow-lg rounded bg-text">
                <button type="button" routerLink="admin" class="col-2 btn btn-secondary btn-lg m-2">Admin Login</button>
                <form class="form-inline">
                    <button type="button" routerLink="elective" class="col-2 btn btn-secondary  btn-lg m-2">Elective</button>
                    <button type="button" routerLink="project" class="col-2 btn btn-danger btn-lg m-2">Project</button>
                    <button type="button" routerLink="core" class="col-2  btn btn-secondary btn-lg m-2">Core</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

</div>
