<nav class="navbar navbar-light bg-light justify-content-between">
  <button type="button" class="btn btn-warning m-2" routerLink="../../dashboard">Dashboard</button>
  <form class="form-inline">
    <button type="button" class="btn btn-secondary m-2" routerLink="../../profile">Profile</button>
    <button type="button" class="btn btn-danger m-2" (click)="_auth.userLogout()">Logout</button>
  </form>
</nav>

<div class="container m-5 p-5 shadow">
  <h1>IT</h1>
  <table class="table">
    <thead>
      <th>Student ID</th>
      <th>Student Name</th>
      <th>Basket Name</th>
    </thead>
    <tbody>
      <tr *ngFor="let student of it_students">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td *ngIf="student.baskets?.length===0" class="text-danger">
          preferences not yet submitted!
        </td>
        <td>
          <table class="table">
            <thead>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let basket of student.baskets">
                <td>{{basket.name}}</td>
                <td>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>1st preference: {{basket.pref1_name}}</td>
                      </tr>
                      <tr>
                        <td [hidden]="!basket.pref2_id">2nd preference: {{basket.pref2_name}}</td>
                      </tr>
                      <tr>
                        <td [hidden]="!basket.pref3_id">3rd preference: {{basket.pref3_name}}</td>
                      </tr>
                      <tr>
                        <td [hidden]="!basket.pref4_id">4th preference: {{basket.pref4_name}}</td>
                      </tr>
                      <tr>
                        <td [hidden]="!basket.pref5_id">5th preference: {{basket.pref5_name}}</td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container m-5 p-5 shadow" *ngIf="ece_students?.length>0">
  <h1>ECE</h1>
  <table class="table">
    <thead>
      <th>Student ID</th>
      <th>Student Name</th>
      <th>Basket Name</th>
    </thead>
    <tbody>
      <tr *ngFor="let student of ece_students">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td *ngIf="student.baskets?.length===0" class="text-danger">
          preferences not yet submitted!
        </td>
        <td>
          <table class="table">
            <thead>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let basket of student.baskets">
                <td>{{basket.name}}</td>
                <td>
                  <table class="table">
                    <thead>
                      <th></th>
                      <th></th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let basket of student.baskets">
                        <td>{{basket.name}}</td>
                        <td>
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>1st preference: {{basket.pref1_name}}</td>
                              </tr>
                              <tr>
                                <td [hidden]="!basket.pref2_id">2nd preference: {{basket.pref2_name}}</td>
                              </tr>
                              <tr>
                                <td [hidden]="!basket.pref3_id">3rd preference: {{basket.pref3_name}}</td>
                              </tr>
                              <tr>
                                <td [hidden]="!basket.pref4_id">4th preference: {{basket.pref4_name}}</td>
                              </tr>
                              <tr>
                                <td [hidden]="!basket.pref5_id">5th preference: {{basket.pref5_name}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>