<button type="button" class="btn btn-primary" routerLink="../profile">Profile</button>
<button type="button" class="btn btn-primary" (click)="_auth.userLogout()">Logout</button>


<div class="container m-5 shadow p-5">
<h1>DashBoard</h1>

<div class="container m-3 shadow p-5">
<h1 style="text-align: center;">Electives</h1>
<ul style="text-align: center;">
    <li class="btn btn-primary m-2" routerLink="/admin/elective/basket">Baskets</li>
    <li class="btn btn-primary m-2" routerLink="/admin/elective/running_courses">Running courses</li>
    <li class="btn btn-primary m-2" routerLink="/admin/elective/faculties_preference">Faculties preferences</li>
    <li class="btn btn-primary m-2" routerLink="/admin/elective/courses_faculty">Faculty in courses</li>
    <li class="btn btn-primary m-2" routerLink="/admin/elective/student_preferences">Students Preferences</li>
    <li class="btn btn-primary m-2">Students in courses</li>
</ul>
</div>

<div class="container m-3 shadow p-5">
<h1 style="text-align: center;">Projects</h1>
<ul style="text-align: center;">
    <li class="btn btn-primary m-2">Students</li>
    <li class="btn btn-primary m-2">Faculties</li>
</ul>
</div>
</div>
