<div class="container m-5 shadow p-5">
<h1>DashBoard</h1>

<div class="container m-3 shadow p-5">
<h1 style="text-align: center;">Electives</h1>
<ul style="text-align: center;">
    <li class="btn btn-primary m-2" routerLink="/admin/elective/basket">Baskets</li>
    <li class="btn btn-primary m-2">Students</li>
    <li class="btn btn-primary m-2">Faculties</li>
    <li class="btn btn-primary m-2">HODs</li>
    <li class="btn btn-primary m-2">Course-Coordinator</li>
</ul>
</div>

<div class="container m-3 shadow p-5">
<h1 style="text-align: center;">Projects</h1>
<ul style="text-align: center;">
    <li class="btn btn-primary m-2">Students</li>
    <li class="btn btn-primary m-2">Faculties</li>
</ul>
</div>
</div>