<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="border border-primary mt-5 my_form">
          <h4>HOD Login</h4>
          <p *ngIf="loginErr" class="text-danger">Wrong credential: please enter valid credential</p>
          <p class="text-muted">Please enter your credentials</p>
          <form>
            <div class="row mb-3">
              <div class="col-lg-10">
                <input type="email" class="form-control form-control-sm" #email placeholder="Email">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-10">
                <input type="password" class="form-control form-control-sm" #password placeholder="Password">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <input type="button" (click)="onClick(email.value, password.value)" class="btn btn-primary btn-lg w-100" value="Login">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
