<div class="container m-5" style="border: 2px solid black;">
    <h1>I am : </h1>
    <div class="row m-5 p-5" style="width: fit-content;">
        <button type="button" routerLink="student" class="btn btn-primary mt-2">Student</button>
        <button type="button" routerLink="faculty" class="btn btn-primary mt-2">Faculty</button>
        <button type="button" routerLink="hod" class="btn btn-primary mt-2">HOD</button>
        <button type="button" routerLink="cc" class="btn btn-primary mt-2">Course Coordinator</button>
    </div>
</div>
