<div class="container m-5 p-5 shadow-lg">
    <h1>Please choose your role : </h1>
    <div class="row m-5 p-2">
        <div class="col">
            <button type="button" routerLink="student" class="btn btn-primary" style="width: 100%;">Student</button>
        </div>
        <div class="col">
            <button type="button" routerLink="faculty" class="btn btn-primary" style="width: 100%;">Faculty</button>
        </div>
    </div>

    <div class="row m-5 p-2">
        <div class="col" >
            <button type="button" routerLink="hod" class="btn btn-primary" style="width: 100%;">HOD</button>
        </div>
        <div class="col">
            <button type="button" routerLink="cc" class="btn btn-primary" style="width: 100%;">Course Coordinator</button>
        </div>
    </div>
</div>
