<nav class="navbar navbar-light sticky-top bg-light justify-content-between">
    <button type="button" class="btn btn-secondary btn m-2" routerLink="../portal_setting">Portal Setting</button>
    <form class="form-inline">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
Profile
</button>
        <!-- Modal -->

        <button type="button" class="btn btn-danger m-2" (click)="logout()">Logout</button>
    </form>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header text-center">
                <h5 class="modal-title" style=" margin-left: 100px; color: black; font-size: x-large;" id="exampleModalLabel">PROFILE INFORMATION</h5>
                <button type="button" class="" data-bs-dismiss="modal" aria-label="Close">
                <img src="assets/images/close.jpeg" style="width:15px; height:15;" aria-hidden="true">
              </button>
            </div>
            <button type="button" class="btn btn-outline-primary"><h2>Name: {{name}}</h2></button>
            <button type="button" class="btn btn-outline-success"><h2>Email: {{email}}</h2> </button>
        </div>
    </div>
</div>
