<button type="button" class="btn btn-primary" routerLink="../dashboard">Dashboard</button>
<button type="button" class="btn btn-primary" routerLink="../profile">Profile</button>
<button type="button" class="btn btn-primary" (click)="_auth.userLogout()">Logout</button>

<div *ngFor="let basket of _util.baskets">
  <h3>{{basket.name}}</h3>
  <div *ngFor="let course of basket.courses">
    {{course.name}}
    <button [hidden]="course.seats <= 0" type="button" class="btn btn-danger"
      (click)="dontRunCourse(basket.id,course.id)"> Don't Run It</button>
    <button [hidden]="course.seats > 0" type="button" class="btn btn-success" (click)="runCourse(basket.id,course.id)">
      Run It</button>
  </div>
  -------------------------------------------------------------------
</div>
