<nav class="navbar navbar-light bg-light justify-content-between">
  <button type="button" class="btn btn-warning m-2" routerLink="../../dashboard">Dashboard</button>
  <form class="form-inline">
    <button type="button" class="btn btn-secondary m-2" routerLink="../../profile">Profile</button>
    <button type="button" class="btn btn-danger m-2" (click)="_auth.userLogout()">Logout</button>
  </form>
</nav>

<div class="container m-5 p-5 shadow">
  <h1>IT</h1>
  <p *ngIf="it_baskets?.length===0" class="text-danger">
    ** Counselling not done yet! **
  </p>
  <div class="container m-2 p-5 shadow" *ngFor="let basket of it_baskets">
    <h1>{{basket.name}}</h1>
    <div class="container m-2 p-2" *ngFor="let course of basket.courses">
      <h2>{{course.name}}</h2>
      <a href="javascript:void(0)" (click)="downloadCSV(course.students, course.name)">Download Students</a>
      <h3>Students to whom this course is alloted</h3>
      <ul>
        <li *ngFor="let student of course.students">
          <p>{{student.id}} - {{student.name}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container m-5 p-5 shadow">
  <h1>ECE</h1>
  <p *ngIf="ece_baskets?.length===0" class="text-danger">
    ** Counselling not done yet! **
  </p>
  <div class="container m-2 p-5 shadow" *ngFor="let basket of ece_baskets">
    <h1>{{basket.name}}</h1>
    <div class="container m-2 p-2" *ngFor="let course of basket.courses">
      <h2>{{course.name}}</h2>
      <a href="javascript:void(0)" (click)="downloadCSV(course.students, course.name)">Download Students</a>
      <h3>Students to whom this course is alloted</h3>
      <ul>
        <li *ngFor="let student of course.students">
          <p>{{student.id}} - {{student.name}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
